* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f3b5f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculadora {
    background-color: rgb(228, 174, 219);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}



.caixa-texto {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #0a0707;
    border-radius: 0px;
}

.botoes button {
    width: 40%;
    padding: 10px;
    margin: 10px 5px;
    font-size: 17px;
    background-color: rgb(129, 5, 187);
    color: azure;
    border: none;
    border-radius: 50px;
}





